<p>
    Hola! {{ full_name }}
</p>

<p>
    Tenemos el agrado de comentarte que ya se encuentra libre un locker para vos!
</p>

<p>
    Pasá lo antes posible por la secretaría del CEITBA para que podamos darte el número de locker y la llave.
    La oficina está ubicada al fondo del edificio anexo.
</p>

<p>
    Tené en cuenta de que mantendremos éste locker reservado por unas semanas. De no recibir noticias
    el locker que te asignamos pasara al proximo alumno que se encuentre en la lista de espera.
</p>

<p>
    Te esperamos!
</p>

<p>
    Saludos,
    CEITBA
</p>

<i>
    Éste es un email autogenerado, por lo que te pedimos que no lo respondas. Tante cualquier duda
    ponete en contacto con nosotros mandando un mail a <a href="mailto:ceitba@itba.edu.ar">ceitba@itba.edu.ar</a>.
</i>