<p>
    Hola {{ full_name }}!
</p>
<p>
    Te queríamos avisar que ya has superado las {{ free_prints }} impresiones gratis que proveemos en el
    laboratorio del CEITBA. De ahora en más se te cobrará ${{ page_price }} por página.
</p>
<p>
    Saludos,
    CEITBA
</p>

<i>
    Éste es un email autogenerado, por lo que te pedimos que no lo respondas. Ante cualquier duda
    ponete en contacto con nosotros mandando un mail a <a href="mailto:ceitba@itba.edu.ar">ceitba@itba.edu.ar</a>
    o acercate a nuestra oficina en la planta baja del edificio anexo.
</i>